@import "variables";
@import "mixins";

.orglist{
  width: 50%;
  margin: auto;
  margin-top: 3%;
  .itemEntry{
    list-style: none;
    padding: 15px;
    margin: 10px;
    height: 60px;
    background-color: $greythemelight;
    border: $greythemedark 1px solid;
    border-radius: 15px;
    @include boxshadow();
    .itemTitle{
      padding-top: 3px;
      margin: 0;
      font-size: 2.75em;
      color: $greythemedark;
      @include textshadow();
    }
    .itemIcon{
      float: left;
      margin-right: 35px;
      margin-left: 10px;
      height: 100%;
    }
  }
}

.defaultmessage{
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 3%;
  padding: 15px;
  background-color: $greythemelight;
  border: $greythemedark 1px solid;
  border-radius: 15px;
  font-size: 2.5em;
  text-align: center;
  color: $greythemedark;
  @include boxshadow();
}

.nameinput{
  margin: auto;
  margin-top: 35px;
  padding: 5px 20px;
  display: block;
  font-size: 1em;
  text-align: center;
  background-color: $greythemelight;
  color: $greythemedark;
  border: $greythemedark 1px solid;
  border-radius: 3px;
  @include boxshadow();
}

.submitButton{
  margin: auto;
  margin-top: 25px;
  padding: 5px 20px;
  display: block;
  background-color: $greythemedarker;
  font-size: 1.5em;
  color: $greythemelight;
  border: $greythemedark 1px solid;
  border-radius: 10px;
  @include boxshadow();
  display: none;
}

.hidden{
  display: none;
}
